firmware/vivado/designs
firmware/vivado/output
firmware/vivado/reports
firmware/SiTCP
firmware/src/ddr3/*
!firmware/src/ddr3/*.xci
firmware/src/vfifo/*
!firmware/src/vfifo/*.xci

test_ddr3/sim_build/
test_ddr3/Makefile
test_ddr3/secureip/
test_ddr3/sim_build/
test_ddr3/unisims/

*.log
*.jou
*.history
/test/
